# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Django
db.sqlite3
staticfiles/
media/
logs/*.log

# Environment
.env
*.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

*.ps1

# Docker
docker/postgres_data/

# OS
.DS_Store
Thumbs.db
